@using Microsoft.AspNet.Identity


    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row col-md-12">

                <div class="col-md-3 col-sm-4 text-left">
                    <a class="site-logo " style="padding-bottom: 0px;" href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Theme/img/logos/final.png")" width="200" height="55" alt="Price Grabber"></img></a>
                </div>

            </div> 
            <div class="col-md-12">  
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-3" style="padding-left: 0px;">
                    2015 © PriceGrabber. ALL Rights Reserved.
                </div>
                <!-- END COPYRIGHT -->  
                <!-- BEGIN POWERED -->
                <div class="col-md-9 col-sm-4 text-right">
                    
                    <p class="powered" style="padding-right: 10px;">Powered by:<a href="http://www.pricegrabber.com/">Price Grabber</a></p>
                </div>
                <!-- END POWERED -->
             
            
          
        </div>

</div>
    </div>
    <!-- END FOOTER -->




