@using Microsoft.AspNet.Identity
<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container-fluid">
        <div class="row col-md-12">
            <br /><br /><br />

            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            @*<div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>About us</h2>
          
                <p></p>
                <p></p>
            </div>*@
            <!-- END BOTTOM ABOUT BLOCK -->

            <!-- BEGIN BOTTOM INFO BLOCK -->
            @*<div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>Information</h2>
                <ul class="list-unstyled">
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Delivery Information</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Customer Service</a></li>
                  m  <li><i class="fa fa-angle-right"></i> <a href="contacts.html">Contact Us</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Careers</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="javascript:;">Payment Methods</a></li>
                </ul>
            </div>*@
            <!-- END INFO BLOCK -->

            <!--BEGIN Description BLOCK -->
            <div class="col-md-4 pre-footer-col text-left">
                <h2 style="color:lightseagreen;">About Us</h2>
                <p>Price grabber is developed to reduce the people time and providing new and better way of understanding a product. Customer will get a perfect idea regarding price & other specification of the particular product searched by them from various online sites. Customer chooses any product and will redirect to particular online sites chosen. </p>
            </div>
            <!-- END Description BLOCK -->
           
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 pre-footer-col">
                <h2 style="color:lightseagreen;">Our Contacts</h2>
                <address class="margin-bottom-40">
                    126/127 Baronet Complex,<br />
                    Opp. Sabarmati Police Station,<br />
                    Ram Nagar Toll Naka,Sabarmati,<br />
                    Ahmedabad, Gujarat India 380005<br />
                    Phone: +91 7874048202<br>
                    
                    Email: <a href="mailto:info@pricegrabber.com" style="color:lightseagreen;">info.pricegrabber@gmail.com</a><br>
                    Skype: <a href="skype:metronic" style="color:lightseagreen;">patelrutu1203@gmail.com</a>
                </address>
            </div>
            <!-- END BOTTOM CONTACTS -->


            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-4 pre-footer-col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.276555879978!2d72.58987251445281!3d23.08696991971273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83eab0f82641%3A0xed1d69a7128508f2!2sAavitech+Solutions+Private+Limited!5e0!3m2!1sen!2sin!4v1473674140135" width="395" height="160" frameborder="1"></iframe>
                <br /><br />
                <ul class="social-icons pull-right">
                    <li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>
                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>
                    <li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>
                </ul>
            </div>

            @*</div>
            <!-- END SOCIAL ICONS -->

            <!-- BEGIN NEWLETTER -->
            <div class="col-md-3 col-sm-6">*@
              
                
                  @*<div class="pre-footer-subscribe-box pull-right">
                    <h2>Newsletter</h2>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>*@
            <!-- END NEWLETTER -->
            
      
    </div>
</div>
    </div>
<!-- END PRE-FOOTER -->
