     <!-- BEGIN NAVIGATION -->
 
<div class="header-navigation">
    <ul>
        <!--Mobile-->
        <li class="dropdown dropdown-megamenu">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;" style="color:black;">
                Mobile & Tablets
            </a>
            <!-- BEGIN DROPDOWN MENU -->
            <ul class="dropdown-menu">
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            <div class="col-md-4 header-navigation-col">
                                <h4>Mobile Phones</h4>
                                <ul>
                                    <li><a href="http://www.samsung.com/in/consumer/mobile-devices/smartphones/">Samsung</a></li>
                                    <li><a href="http://www.apple.com/in/iphone/">Apple</a></li>
                                    <li><a href="https://www.microsoft.com/en-in/mobile/phones/all/#order_by=latest">Nokia</a></li>
                                    <li><a href="http://www.htc.com/in/smartphones/">HTC</a></li>
                                    <li><a href="http://www.sonymobile.com/in/products/phones/">Sony</a></li>
                                    <li><a href="http://shopap.lenovo.com/in/en/smartphones/">Lenovo</a></li>
                                    
                                </ul>
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Mobile & Accessories</h4>
                                <ul>
                                    <li><a href="http://www.mi.com/in/powerbank/">Powerbank</a></li>
                                    <li><a href="https://www.bewakoof.com/mobile-covers-india">Mobile cases</a></li>
                                    <li><a href="https://www.sandisk.in/home/memory-cards">Memory Cards</a></li>
                                    <li><a href="https://www.flipkart.com/mobile-accessories/cables/pr?sid=tyy,4mr,3nu">USB cables</a></li>
                                    <li><a href="http://www.croma.com/communication/accessories/chargers/c/534">Chargers</a></li>
                                    <li><a href="https://www.flipkart.com/mobile-accessories/headphones/pr?gclid=CjwKEAjwhILABRDwo8mlqt6ug38SJACNSq_kmszFniTqUATIVq0Q1IG3noDD2IE4BpT-trhSKTGM8xoCLuPw_wcB&sid=tyy%2C4mr%2Cfp0&semcmpid=sem_3856208402_headphone_goog&tgi=sem,1,G,3856208402,{network},{ifsearch:search},{ifcontent:content},{creative},{adposition},{matchtype},{keyword},{device},{devicemodel},{ifmobile:mobile},{placement},{target},{aceid},{param1},{param2}&s_kwcid=AL!739!3!144045435796!b!!g!!%2Bheadphones&ef_id=V-IAzwAAAdeOUDO-:20161014121610:s">Headphones & Headsets</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Tablets</h4>
                                <ul>
                                    <li><a href="http://www.amazon.in/Tablets/b?ie=UTF8&node=1375458031">All Tablets</a></li>
                                    <li><a href="http://www.amazon.in/tablet-accessories/b?ie=UTF8&node=1375328031">Tablet Accessories</a></li>
                                </ul>
                            </div>

                            @*<div class="col-md-4 header-navigation-col">
                                 <h4>Mobile & Accessories</h4>
                                      <ul>
                                        <li><a href="shop-product-list.html">Gilets</a></li>
                                        <li><a href="shop-product-list.html">Golf Tops</a></li>
                                      </ul>
                             </div>*@

                            @*<div class="col-md-4 header-navigation-col">
                                <h4>Mobile & Accessories</h4>
                                <ul>
                                    
                                </ul>

                                <h4>Tablet</h4>
                                <ul>
                                    
                                </ul>
                            </div>*@
                            @*<div class="col-md-12 nav-brands">
                                <ul>
                                    <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="assets/pages/img/brands/esprit.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="assets/pages/img/brands/gap.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="next" alt="next" src="assets/pages/img/brands/next.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="assets/pages/img/brands/puma.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="assets/pages/img/brands/zara.jpg"></a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                </li>
            </ul>
            <!-- END DROPDOWN MENU -->
        </li>


        <!--Computer & Accessories-->
        <li class="dropdown dropdown-megamenu">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;" style="color:black;">
                Computer & Accessories
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            <div class="col-md-4 header-navigation-col">
                                <h4>Computers</h4>
                                <ul>
                                    <li><a href="http://www.amazon.in/Laptops/b?ie=UTF8&node=1375424031">Laptops</a></li>
                                    <li><a href="http://www.amazon.in/b?node=5208309031">Desktops & Monitors</a></li>
                                    
                                </ul>
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Computer Accessories</h4>
                               <ul>
                                    <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=computers+cpu&tag=googinhydr1-21&index=aps&hvadid=147985561383&hvpos=1t1&hvnetw=g&hvrand=10172659066291055016&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-37498520&ref=pd_sl_65b1pfn4my_b">CPU</a></li>
                                    <li><a href="http://www.amazon.in/desktops/b?ie=UTF8&node=1375392031">Desktops</a></li>
                                    <li><a href="http://www.amazon.in/Keyboards-Mice/b?ie=UTF8&node=3010074031">Keyboards & Mouses</a></li>
                                    <li><a href="https://www.amazon.it/s/?ie=UTF8&keywords=usb+accessori&tag=slhyin-21&index=aps&hvadid=98792353518&hvpos=1o1&hvnetw=g&hvrand=13077541832956355761&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-2759554446&ref=pd_sl_5eskhmivg9_b">USB gadgets</a></li>
                               </ul>
                                @*<ul>
                                    <li><a href="shop-product-list.html">Base Layer</a></li>
                                    <li><a href="shop-product-list.html">Character</a></li>
                                    <li><a href="shop-product-list.html">Chinos</a></li>
                                    <li><a href="shop-product-list.html">Combats</a></li>
                                    <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                                    <li><a href="shop-product-list.html">Fleeces</a></li>
                                    <li><a href="shop-product-list.html">Gilets</a></li>
                                    <li><a href="shop-product-list.html">Golf Tops</a></li>
                                </ul>*@
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Other Accessories</h4>
                                <ul>
                                    <li><a href="http://www.amazon.in/printers-scanners/b?ie=UTF8&node=1575411031">Printers</a></li>
                                    <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=scaner&tag=googinhydr1-21&index=computers&hvadid=147943171908&hvpos=1t1&hvnetw=g&hvrand=11608698311760690937&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-21309800&ref=pd_sl_5i6wbxm9_b">Scanners</a></li>
                                    <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=photo+copy+printer&tag=googinhydr1-21&index=aps&hvadid=147277572939&hvpos=1o2&hvnetw=g&hvrand=6671482092205748658&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-1968910022&ref=pd_sl_387gzxuh5n_b">Copier machines</a></li>
                                </ul>

                            </div>

                                    @*<h4>Accessories</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Belts</a></li>
                                    <li><a href="shop-product-list.html">Caps</a></li>
                                    <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                                </ul>
                                    
                                <h4>Clearance</h4>      
                                <ul>
                                    <li><a href="shop-product-list.html">Jackets</a></li>
                                    <li><a href="shop-product-list.html">Bottoms</a></li>
                                </ul>*@
                   
                            
                              @*<div class="col-md-12 nav-brands">
                                <ul>
                                    <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="assets/pages/img/brands/esprit.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="assets/pages/img/brands/gap.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="next" alt="next" src="assets/pages/img/brands/next.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="assets/pages/img/brands/puma.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="assets/pages/img/brands/zara.jpg"></a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <!--Camera-->
        <li class="dropdown dropdown-megamenu">           
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;" style="color:black;">
                Camera
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            <div class="col-md-4 header-navigation-col">
                                <h4>Camera</h4>
                                <ul>
                                    <li><a href="http://www.amazon.in/point-shoot-digital-cameras/b?ie=UTF8&node=1389181031">Point-shoot Camera</a></li>
                                    <li><a href="https://www.flipkart.com/cameras/dslr~type/pr?sid=jek,p31">SLR</a></li>
                                    <li><a href="http://www.amazon.in/camcorders/b?ie=UTF8&node=1389174031">Camcorder</a></li>
                                    <li><a href="http://www.amazon.in/s/ref=nb_sb_noss_2?url=search-alias%3Delectronics&field-keywords=fujifilm&rh=n%3A976419031%2Ck%3Afujifilm">Fujifilm</a></li>
                                </ul>

                                @*<h4>Footwear</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Astro Trainers</a></li>
                                    <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                                    <li><a href="shop-product-list.html">Boots</a></li>
                                    <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                                    <li><a href="shop-product-list.html">Football Boots</a></li>
                                    <li><a href="shop-product-list.html">Golf Shoes</a></li>
                                    <li><a href="shop-product-list.html">Hi Tops</a></li>
                                    <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                                </ul>*@
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Camera Accessories</h4>
                                <ul>
                                    <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=digital+camera+cards+sd&tag=googinhydr1-21&index=electronics&hvadid=147962131812&hvpos=1t1&hvnetw=g&hvrand=8908335463320575756&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-5802303095&ref=pd_sl_3814behhnz_b">Micro SD cards</a></li>
                                    <li><a href="http://www.amazon.in/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=cemera+lenses&rh=i%3Aaps%2Ck%3Acemera+lenses">Lenses</a></li>
                                    <li><a href="https://www.amazon.com/Surveillance-Camera-Cables/b?ie=UTF8&node=11041671">Cables</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">

                            </div>
                                @*<h4>Clothing</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Base Layer</a></li>
                                    <li><a href="shop-product-list.html">Character</a></li>
                                    <li><a href="shop-product-list.html">Chinos</a></li>
                                    <li><a href="shop-product-list.html">Combats</a></li>
                                    <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                                    <li><a href="shop-product-list.html">Fleeces</a></li>
                                    <li><a href="shop-product-list.html">Gilets</a></li>
                                    <li><a href="shop-product-list.html">Golf Tops</a></li>
                                </ul>*@
                        
                            @*<div class="col-md- header-navigation-col">
                                <h4>Accessories</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Belts</a></li>
                                    <li><a href="shop-product-list.html">Caps</a></li>
                                    <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                                </ul>

                                <h4>Clearance</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Jackets</a></li>
                                    <li><a href="shop-product-list.html">Bottoms</a></li>
                                </ul>
                            </div>*@
                            <div class="col-md-12 nav-brands">
                                @*<ul>
                                <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="assets/pages/img/brands/esprit.jpg"></a></li>
                                <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="assets/pages/img/brands/gap.jpg"></a></li>
                                <li><a href="shop-product-list.html"><img title="next" alt="next" src="assets/pages/img/brands/next.jpg"></a></li>
                                <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="assets/pages/img/brands/puma.jpg"></a></li>
                                <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="assets/pages/img/brands/zara.jpg"></a></li>
                            </ul>*@
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <!--Audio / Video-->
        <li class="dropdown dropdown-megamenu">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;" style="color:black;">
               Audio<b>/</b>Video
            </a>
            <ul class="dropdown-menu">
                <li>
                        <div class="header-navigation-content">
                            <div class="row">
                                <div class="col-md-6 header-navigation-col">
                                    <h4>TV</h4>
                                    <ul>
                                        <li><a href="http://www.amazon.in/Televisions-LCD-Home-Theater-TV-Video/s?ie=UTF8&page=1&rh=n%3A1389396031%2Cp_n_feature_three_browse-bin%3A1485061031">LCD</a></li>
                                        <li><a href="http://www.shopclues.com/tv-large-appliances-and-camera/tvs/led.html">LED</a></li>
                                        <li><a href="http://www.amazon.in/TVs/b?ie=UTF8&node=1389396031">Televisions</a></li>
                                    </ul>
                                    <h4>Headphones</h4>
                                    <ul>
                                        <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=sony+tv+ears&tag=googinhydr1-21&index=electronics&hvadid=147950637097&hvpos=1t1&hvnetw=g&hvrand=3952783152244106438&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-5664606090&ref=pd_sl_675hv02hl1_b">Sony</a></li>
                                        <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=jvc+in+ear+headphone&tag=googinhydr1-21&index=electronics&hvadid=147950810572&hvpos=1t1&hvnetw=g&hvrand=17567095269445994689&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-3053625968&ref=pd_sl_18xa832gfp_b">JVC</a></li>
                                        <li><a href="http://www.amazon.in/s/?ie=UTF8&keywords=sennheiser+tv+ears&tag=googinhydr1-21&index=electronics&hvadid=147953938270&hvpos=1t1&hvnetw=g&hvrand=17100259928456122574&hvpone=&hvptwo=&hvqmt=b&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061734&hvtargid=kwd-5720513970&ref=pd_sl_47rdwyuhwb_b">Sennheiser</a></li>
                                    </ul>
                                </div>


                                @*<div class="col-md-4 header-navigation-col">
                                        <h4>Footwear</h4>
                <ul>
                    <li><a href="shop-product-list.html">Astro Trainers</a></li>
                    <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                    <li><a href="shop-product-list.html">Boots</a></li>
                    <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                    <li><a href="shop-product-list.html">Football Boots</a></li>
                    <li><a href="shop-product-list.html">Golf Shoes</a></li>
                    <li><a href="shop-product-list.html">Hi Tops</a></li>
                    <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                </ul>
                                        </div>*@



                                <div class="col-md-6 header-navigation-col">

                                    <h4>MP3</h4>
                                    <ul>
                                        <li><a href="https://www.amazon.in/gp/search/ref=a9_sc_1?rh=i%3Apopular%2Ck%3Amp3+player&keywords=mp3+player&ie=UTF8&qid=1476451116">Sony</a></li>
                                    </ul>

                                    <h4>Speaker</h4>
                                    <ul>
                                        <li><a href="http://www.intex.in/speakers/home-speakers">Intex</a></li>
                                        <li><a href="http://www.iball.co.in/Category/Speakers/40">iBall</a></li>
                                        <li><a href="http://www.amazon.in/Creative-Speakers/b?ie=UTF8&node=5620894031">Creative</a></li>
                                        <li><a href="http://in.jbl.com/jbl-homepage-in.html">JBL</a></li>
                                        <li><a href="https://www.amazon.in/gp/search/ref=sr_nr_p_89_0?fst=as%3Aoff&rh=n%3A976419031%2Ck%3Alogitech+speakers%2Cp_89%3ALogitech&keywords=logitech+speakers&ie=UTF8&qid=1476462700&rnid=3837712031">Logitech</a></li>
                                    </ul>
                                </div>

                                @*<div class="col-md-4 header-navigation-col">
                    <h4>Clothing</h4>
                    <ul>
                        <li><a href="shop-product-list.html">Base Layer</a></li>
                        <li><a href="shop-product-list.html">Character</a></li>
                        <li><a href="shop-product-list.html">Chinos</a></li>
                        <li><a href="shop-product-list.html">Combats</a></li>
                        <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                        <li><a href="shop-product-list.html">Fleeces</a></li>
                        <li><a href="shop-product-list.html">Gilets</a></li>
                        <li><a href="shop-product-list.html">Golf Tops</a></li>
                    </ul>
                </div>
                <div class="col-md-4 header-navigation-col">
                    <h4>Accessories</h4>
                    <ul>
                        <li><a href="shop-product-list.html">Belts</a></li>
                        <li><a href="shop-product-list.html">Caps</a></li>
                        <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                    </ul>

                    <h4>Clearance</h4>
                    <ul>
                        <li><a href="shop-product-list.html">Jackets</a></li>
                        <li><a href="shop-product-list.html">Bottoms</a></li>
                    </ul>
                </div>*@


                                <div class="col-md-12 nav-brands">
                                    @*<ul>
                        <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="assets/pages/img/brands/esprit.jpg"></a></li>
                        <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="assets/pages/img/brands/gap.jpg"></a></li>
                        <li><a href="shop-product-list.html"><img title="next" alt="next" src="assets/pages/img/brands/next.jpg"></a></li>
                        <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="assets/pages/img/brands/puma.jpg"></a></li>
                        <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="assets/pages/img/brands/zara.jpg"></a></li>
                    </ul>*@
                                </div>
                            </div>
                    </div>
                </li>
            </ul>
        </li>
        <!--Watches-->
        @*<li class="dropdown dropdown-megamenu">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                Watches
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            <div class="col-md-4 header-navigation-col">
                                <h4>Footwear</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Astro Trainers</a></li>
                                    <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                                    <li><a href="shop-product-list.html">Boots</a></li>
                                    <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                                    <li><a href="shop-product-list.html">Football Boots</a></li>
                                    <li><a href="shop-product-list.html">Golf Shoes</a></li>
                                    <li><a href="shop-product-list.html">Hi Tops</a></li>
                                    <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Clothing</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Base Layer</a></li>
                                    <li><a href="shop-product-list.html">Character</a></li>
                                    <li><a href="shop-product-list.html">Chinos</a></li>
                                    <li><a href="shop-product-list.html">Combats</a></li>
                                    <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                                    <li><a href="shop-product-list.html">Fleeces</a></li>
                                    <li><a href="shop-product-list.html">Gilets</a></li>
                                    <li><a href="shop-product-list.html">Golf Tops</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 header-navigation-col">
                                <h4>Accessories</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Belts</a></li>
                                    <li><a href="shop-product-list.html">Caps</a></li>
                                    <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                                </ul>

                                <h4>Clearance</h4>
                                <ul>
                                    <li><a href="shop-product-list.html">Jackets</a></li>
                                    <li><a href="shop-product-list.html">Bottoms</a></li>
                                </ul>
                            </div>
                            <div class="col-md-12 nav-brands">
                                <ul>
                                    <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="assets/pages/img/brands/esprit.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="assets/pages/img/brands/gap.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="next" alt="next" src="assets/pages/img/brands/next.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="assets/pages/img/brands/puma.jpg"></a></li>
                                    <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="assets/pages/img/brands/zara.jpg"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>*@

        <!--Books-->
        <li class="dropdown dropdown-megamenu">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;" style="color:black;">                
                Books
            </a>
            <ul class="dropdown-menu">
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            <div class="header-navigation-col">
                                <h4>Books</h4>
                                <ul>
                                    <li><a href="https://www.amazon.in/s/ref=nb_sb_ss_c_2_19?url=search-alias%3Dstripbooks&field-keywords=entrance+exam+books&sprefix=entrance+exam+books%2Caps%2C572&rh=n%3A976389031%2Ck%3Aentrance+exam+books">Entrance Exam</a></li>
                                    <li><a href="https://www.amazon.in/s/ref=nb_sb_noss_2?url=search-alias%3Dstripbooks&field-keywords=Literature+books&rh=n%3A976389031%2Ck%3ALiterature+books">Literature</a></li>
                                    <li><a href="https://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Dstripbooks&field-keywords=self+help+books&rh=n%3A976389031%2Ck%3Aself+help+books">Self help</a></li>
                                    <li><a href="https://www.amazon.in/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords=child+school+books&rh=n%3A976389031%2Ck%3Achild+school+books">Child/School book</a></li>
                                    <li><a href="https://www.amazon.in/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords=business+books&rh=n%3A976389031%2Ck%3Abusiness+books">Business books</a></li>
                                    <li><a href="https://www.amazon.in/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords=comic+and+graphics+books&rh=n%3A976389031%2Ck%3Acomic+and+graphics+books">Comic & Graphics</a></li>
                                </ul>
                            </div>

                            @*<div class="col-md-4 header-navigation-col">
                        <h4>Footwear</h4>
                        <ul>
                            <li><a href="shop-product-list.html">Astro Trainers</a></li>
                            <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                            <li><a href="shop-product-list.html">Boots</a></li>
                            <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                            <li><a href="shop-product-list.html">Football Boots</a></li>
                            <li><a href="shop-product-list.html">Golf Shoes</a></li>
                            <li><a href="shop-product-list.html">Hi Tops</a></li>
                            <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 header-navigation-col">
                        <h4>Clothing</h4>
                        <ul>
                            <li><a href="shop-product-list.html">Base Layer</a></li>
                            <li><a href="shop-product-list.html">Character</a></li>
                            <li><a href="shop-product-list.html">Chinos</a></li>
                            <li><a href="shop-product-list.html">Combats</a></li>
                            <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                            <li><a href="shop-product-list.html">Fleeces</a></li>
                            <li><a href="shop-product-list.html">Gilets</a></li>
                            <li><a href="shop-product-list.html">Golf Tops</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 header-navigation-col">
                        <h4>Accessories</h4>
                        <ul>
                            <li><a href="shop-product-list.html">Belts</a></li>
                            <li><a href="shop-product-list.html">Caps</a></li>
                            <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                        </ul>

                        <h4>Clearance</h4>
                        <ul>
                            <li><a href="shop-product-list.html">Jackets</a></li>
                            <li><a href="shop-product-list.html">Bottoms</a></li>
                        </ul>
                    </div>*@


                            @*<div class="col-md-12 nav-brands">
                        <ul>
                            <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="assets/pages/img/brands/esprit.jpg"></a></li>
                            <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="assets/pages/img/brands/gap.jpg"></a></li>
                            <li><a href="shop-product-list.html"><img title="next" alt="next" src="assets/pages/img/brands/next.jpg"></a></li>
                            <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="assets/pages/img/brands/puma.jpg"></a></li>
                            <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="assets/pages/img/brands/zara.jpg"></a></li>
                        </ul>
                    </div>*@
                        </div>
                    </div>
                </li>
            </ul>
        </li>

        <!-- BEGIN TOP SEARCH -->
        @*<li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
                <form action="#">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </li>*@
       

    </ul>
</div>
<!-- END NAVIGATION -->






