@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h3 class="text-center">        
        Please check your <span style="color:red">Email</span> to reset your password.
    </h3>
    <br /><br /><br /><br /><br /><br />
</div>
	
