@{
    ViewBag.Title = "Reset password confirmation";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h3 class="text-center">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account")
    </h3>
    <br /><br /><br /><br /><br /><br />
</div>
