<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PriceGrabberConsole.Properties.Settings.PricegrabberConnectionString"
            connectionString="Data Source=.;Initial Catalog=Pricegrabber;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  
 <system.net>
    <mailSettings>
      <smtp from="info.pricegrabber@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com"  password="high@low123" port="587" userName="info.pricegrabber@gmail.com"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>